body {
  background-color: #2222aa;
  color: #2222aa;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.border-style {
  border: 2px solid #2222aa;
  border-radius: 10px;
  background-color: lavender;
}
small {
    color: red;
}
